<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <title>ACT</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/mainstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/getstats.js"></script>

</head>
<body>
    <div class="tab">
        <button class="tablinks" onclick="changeTab(event, 'game')">게임</button>
        <button class="tablinks" onclick="changeTab(event, 'info')" id="tab_info_button">정보</button>
        <button class="tablinks" onclick="changeTab(event, 'score')">점수판</button>
    </div>

    <div id="game" class="tabcontent">
        <canvas id="gamearea"></canvas>
    </div>

    <div id="info" class="tabcontent">
        <h2>ACT 동아리 - 피아노 타일</h2>
        <p>
            게임방법 - 기간 내에 가장 높은 피아노 타일 점수를 득점하세요.
        </p>
        <hr>
        <h5 id="gamenumber">현재 게임회차: 연결중...</h5>
        <h5 id="state">게임상태: 연결중...</h5>
        <h5 id="timeleft">남은시간: 연결중...</h5>
        <h5 id="numbawan">현재 1위: 연결중...</h5>
        <h5>공지사항:</h5>
        <table id="notifications">

        </table>
    </div>

    <div id="score" class="tabcontent">
        <table id="scoreboard">
            <tr>
                <th>순위</th>
                <th>아이디</th>
                <th>점수</th>
            </tr>
            <tr>
                <td>Namespace1</td>
                <td>Namespace1</td>
                <td>Namespace1</td>
            </tr>
        </table>
    </div>

    <script src="../js/game.js"></script>
    <script type="text/javascript">
        var on_game = false;
        var username = "{{username}}";
        var interval_handle;
        function changeTab(evt, cityName) {
            if(cityName == "game"){

                if(on_game == false){
                    gameCanvas.initiate_game();
                    gameCanvas.set_interval();
                    clearInterval(interval_handle);
                }
                on_game = true;
            }
            else{
                if(on_game == true){
                    gameCanvas.unbind_and_clear();
                    interval_handle = setInterval(function(){updateData("scoreboard", "notifications");}, 1000);
                }
                on_game = false;
            }
            /*if(cityName == "score"){
                var table = document.getElementById("mytab1");
                for (var i = 1, row; row = table.rows[i]; i++) {
                   //iterate through rows
                   //rows would be accessed using the "row" variable assigned in the for loop
                   if table.rows[i].cells[1]
                }
            }*/
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            //evt.currentTarget.className += " active";
        }
        $(window).on("load",function () {
            $("#tab_info_button").click();
            fetchStats();
            updateData("scoreboard", "notifications");
            interval_handle = setInterval(function(){updateData("scoreboard", "notifications");}, 1000);
        });
    </script>

</body>
</html>