<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACT</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/mainstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/getstats.js"></script>
</head>
<body>
    <h2>ACT 동아리 - 피아노 타일</h2>

    <p>게임방법 - 정해진 기간 내에 가장 높은 피아노 타일 점수를 득점하세요.</p>

    <form action="game" method="post">
        <table style="border: none">
            <tr style="border: none">
                <td style="border: none">아이디</td>
                <td style="border: none"><input type="text" name="username" maxlength="20" size="20"></td>
            </tr>

            <tr style="border: none">
                <td style="border: none" colspan="2" >
                    <input type="submit" value="입장하기">
                </td>
            </tr>
        </table>

    </form>

    <hr>

    <h5 id="gamenumber">현재 게임회차: 연결중...</h5>
    <h5 id=""state>게임상태: 연결중...</h5>
    <h5 id="timeleft">남은시간: 연결중...</h5>

    <table id="scoreboard">
        <tr>
            <th>순위</th>
            <th>아이디</th>
            <th>점수</th>
        </tr>
        <tr>
            <td>Namespace1</td>
            <td>Namespace1</td>
            <td>Namespace1</td>
        </tr>
    </table>

</body>
</html>