<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<h2>ACT 동아리 - 아슬아슬 줄타기</h2>
<div>
<p>
    아슬아슬 줄타기 - 여러명의 사람들과 실시간으로 겨루어 결승점으로부터 가장 가깝게 안착해야 합니다. <br>
    하지만, 결승점을 넘어간 이후로는 탈락되니 빠른 타이밍이 답!
</p>
</div>
<hr>
<h5 id="game_number">현재 게임회차: X회</h5>
<h5 id="score">현재점수: X</h5>
<canvas id="gamearea">
</canvas>
<script src="../js/game.js"></script>
</body>
</html>